name: test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    env:
      UV_LOCKED: "true"

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Lint
      run: |
        uv run pre-commit run --all --show-diff-on-failure

    - name: Test
      run: |
        uv run python -m pytest --color=yes

    - name: Check package
      shell: bash
      run: |
        uv build
        uvx --with `find dist/*.whl` pixi-devenv --version
